#include <iostream>

using namespace std; 

int main()
{
    int valueInput; // empty variable 

    cout <<  "what is your age: "; 
    cin >> valueInput;
    
    cout << "the input value is" << valueInput << endl; 
    if (valueInput > 17) {
        cout << "you shall pass";
    }
    else if (valueInput < 5) {
        cout << "you're still a minor";
    }
    else {
        cout << "too young";
    }
}
